@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/lobster-v23-latin-400.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('/fonts/poppins-v15-latin-300.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/poppins-v15-latin-400.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/fonts/poppins-v15-latin-500.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('/fonts/poppins-v15-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/poppins-v15-latin-700.woff2') format('woff2');
  }

  select:invalid {
    @apply text-gray-300;
  }
  option[value=''][disabled] {
    @apply text-gray-500;
  }
  option {
    @apply text-black;
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: url(/icons/clear.svg) no-repeat center;
    background-size: center;
    opacity: 0;
    pointer-events: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  input[type='search']:not(:placeholder-shown)::-webkit-search-cancel-button {
    cursor: pointer;
    opacity: 0.3;
    pointer-events: all;
  }
}

@layer components {
  .input {
    @apply block placeholder-gray-300 transition-all border-none rounded-md shadow outline-none ring-1 hover:ring-gray-400 ring-gray-300 hover:ring-2 focus:ring focus:ring-gray-400;
  }
}
