@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-poppins;
  }
  body {
    @apply text-gray-700 bg-gray-100;
  }
}

@layer components {
  .input {
    @apply block placeholder-gray-300 transition-all border-none rounded-md shadow-sm outline-none ring-1 hover:ring-gray-400/50 ring-gray-300 hover:ring-2 focus:ring focus:ring-gray-400/50;
  }

  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }

  .path {
    /* stroke: #f59e0b; */
    stroke: #374151;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
